@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.5;
}

.card-wrapper {
    margin: 5px;
}

img {
    width: 90%;
    display: block;
    margin-left: 30px;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
    

}

.product-content {
    margin: 20px;
    padding: 2rem 1rem;
}

.product-title {
    font-size: 35px;
    font-weight: 600;
    position: relative;
    color: #12263a;
    margin: 1rem 0;

}
.product-rating {
    margin-top: 20px;
    color: #8bd6bb;
    margin-bottom: 50px;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-size: 20px;
}

.new-price span {
    color: black;
}


.purchase-info .btn:first-of-type {
    background: black;
}

.purchase-info .btn:last-of-type {
    background: white;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}

.product-delivery {
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 5px;
}

.product-review {
    font-size: 15px;
}

.product-review2{
    text-decoration: none;
}

.product-subtitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.cout1 {
    display: flex;
    margin-top: 20px;
}

.secure-payment {
    flex: 2;
   margin-left: 30px;
}

.delivery {
    flex: 2;
    
}

.return-policy {
    flex: 2;
   
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}